footer{
  display: grid;
  row-gap: 2rem;
  background-color: black;
  padding: 3rem 4rem 0.5rem 4rem;
}

.div a{
  color: unset;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-links{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  color: white;
  gap: 2.8rem;
}

footer .div{
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  justify-content: center;

  p{
    font-size: 0.8rem;
  }
}

.bold-text{
  margin-bottom: 0.9rem;
  font-weight: 600;
  font-size: unset;
}


footer input{
  background: black;
  outline: none;
  border: 1px solid gray;
  padding: 0.7rem;
  height: 45px;
  border-radius: 3px;
  color: white;
  border-right: unset;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.email-d{
  display: flex;
  align-items: center;
}

.svg {
  height: 45px;
  border: 1px solid gray;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;

  svg{
    fill: rgb(228, 228, 228);
  }
}


.social-links{
  display: flex;
  column-gap: 1rem;
}

.social-links svg{
  font-size: 1rem;
  height: 22px;
}

.social-links a:first-child svg{
  fill: #0866FF;
}

.social-links a:nth-child(2) svg{
  fill: #FF0069;
}

.social-links a:nth-child(3) svg{
  fill: #25D366;
}

.social-links a:last-child svg{
  fill: #FF0000;
}


.copy-right{
  display: grid;
  place-items: center;
  color: gray;
  font-size: 0.8rem;
  border-top: 1px solid rgba(211, 211, 211, 0.11);
  padding-top: 1rem;
}

