/* MEDIA QURIES FOR RESPOSIVENESS*/
@media(max-width: 920px)
{

  aside{
    display: flex;
  }
  .show-icon svg{
    display: flex;
  }

  nav{
    .navigations-links{
      display: none;
    }
  }

  .drop-down-section{
    display: none;
  }

  .slider-warpper{
    width: 100%;
  }

  

  .best-selling-products-container{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .our-product-grid{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .more-products-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    color: rgba(14, 13, 13, 0.705);
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;

    div{
      display: inline-flex;
      background-color: rgba(128, 128, 128, 0.24);
      border-radius: 4px;
      /* padding: 0.2rem 3rem; */
      padding: 0.4rem 0.6rem;
      font-size: 0.9rem;
      flex-shrink: 0;

      a{
        text-decoration: none;
        color: unset;
      }
    }
  }
}

.more-products-links::-webkit-scrollbar{
  display: none;
}

@media(max-width: 753px)
{

  aside{
    width: 80%;
  }

  .mobile-search-bar{
    display: flex;
    width: 100%;
  }

  .mobile-search-bar input{
    border: none;
    outline: none;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.568);
    padding: 0.8rem 0.7rem ;
    flex: 1;

  }

  nav{
    padding-bottom: 0.2rem;
  }
  .bento-grid{
    grid-template-columns:  repeat(2, 1fr);
    grid-auto-rows: 200px;                
    gap: 1rem;
    grid-template-areas: "img-1 img-2" "img-3 img-4";
  }

  .slider-warpper{
    height: 230px;
  }

  .slider{
    height: 230px;
  }

   .slider-section, .flash-sales-section, .browse-by-categories-section, .best-selling-products-section, .our-products-section, .new-arival-section{
    padding: 1rem;
  }

  header{
    padding: 0.5rem 1rem;
  }
  
  .sales-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.2rem;
  }
  .arrows{
    display: none;
  }

  .best-selling{
    display: grid;
    row-gap: 1.5rem;
    }

    .selling{
      gap: 1rem;
      flex-wrap: wrap;
      row-gap: 1.2rem;
    }

    .arrivals-warranty{
      flex-direction: column;
    }

    .big-card-image{
      padding: 1rem;
    }

    .buy-date{
      flex-wrap: wrap;
      row-gap: 1rem;
    }

    .search-bar input{
      display: none;
    }

    .search-bar .s-icon{
      display: none;
    }

    footer{
      padding: 2rem 0.8rem;
    }
  }

  @media(max-width: 520px)
  {
    .bento-grid{
      grid-template-columns: 1fr;
      grid-template-areas: "img-1" "img-2" "img-3" "img-4";
    }
  }