/* Universal styling */
/* These css applies to whole web page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

/* Remove underline text decoration and unset the font color to default */
a{
  text-decoration: none;
  color: unset;
}

/* Each Section Padding */
header, .slider-section, .flash-sales-section, .browse-by-categories-section, .best-selling-products-section, .our-products-section, .new-arival-section{
  padding: 0 4rem 0 4rem;
}

/* Each Section Have 100% width */
.slider-section, .flash-sales-section, .browse-by-categories-section, .best-selling-products-section, .our-products-section, .new-arival-section{
  width: 100%;
}